body {
    padding: 0px;
    margin: 0px;
  }

  .d1 {
    height: 280px;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
    /* position: sticky;
    top: 0px; */
  }
  
  .dh {
    color: coral;
  }
  .udh {
    font-size: 50px;
    margin-left: 120px;
    font-weight: bolder;
    color: black;
    font-family: "Courier New", Courier, monospace;
  }
  .icon {
    border-radius: 5px;
    width: 60px;
    text-align: center;
    background-color: white;
    color: rgb(5, 42, 253);
    font-size: 40px;
  }
  .p {
    margin:0px 5px 0px 5px;
    height: 500px;
    background-color: rgb(58, 55, 51);
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
}
  .welcome {
    padding-top: 40px;
    font-weight: 600;
    font-size: 40px;
  }
  .ncp {
    color: chartreuse;
  }
  .p1 {
    margin-top: 30px;
    line-height: 52px;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
  }
  
  .tra {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    font-size: 40px;
  
    padding-top: 10px;
    padding-left: 10px;
  }
  .s {
    margin: 20px;
    margin-bottom: 0px;
    color: coral;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
  }
  .t{
    font-size: 30px;
    margin: 10px;
  }
  .t1 {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
  }
  .more {
    margin-top: 0px;
    margin-left: 20px;
  }
  .a{
    background-color: whitesmoke;
    margin: 5px;
  }
  .address {
    margin-right: 380px;
    display: flex;
    justify-content: center;
    height: 400px;
    background-color:whitesmoke;
    color: silver;
    font-family: "Courier New", Courier, monospace;
    font-weight:bolder;
    font-size: 35px;
  }
  .ad {
    padding-top: 10px;
    margin-left: 20px;
    color: rgb(67, 69, 70);
    line-height: 8px;
  }
  .ad1 {
    margin-top: 25px;
    line-height: 5px;
  }
  .con {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
  }
  .c99 {
    margin-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  @media only screen and (max-width:1255px){
    body {
      padding: 0px;
      margin: 0px;
    }
    .d{
      width: 1216px;
    }
    .d1 {
      width: 1216px;
      height: 280px;
      background-color:whitesmoke;
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 25px;
    }
    
    .dh {
      color: coral;
    }
    .udh {
      font-size: 50px;
      margin-left: 120px;
      font-weight: bolder;
      color: black;
      font-family: "Courier New", Courier, monospace;
    }
    .icon {
      border-radius: 5px;
      width: 60px;
      text-align: center;
      background-color: white;
      color: rgb(5, 42, 253);
      font-size: 40px;
    }
    .p {
      width: 1205px;
      margin:0px 5px 0px 5px;
      height: 520px;
      background-color: rgb(58, 55, 51);
      text-align: center;
      word-spacing: 5px;
      letter-spacing: 1px;
      color: whitesmoke;
      font-family: "Courier New", Courier, monospace;
  }
    .welcome {
      padding-top: 40px;
      font-weight: 600;
      font-size: 60px;
    }
    .ncp {
      color: chartreuse;
    }
    .p1 {
      margin-top: 30px;
      font-size: 40px;
      font-family: "Courier New", Courier, monospace;
    }
    .t {
      margin: 10px;
     
    }
    
    .tra {
      text-align: center;
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;
      font-size: 50px;
    
      padding-top: 10px;
      padding-left: 10px;
    }
    .s {
      margin: 20px;
      margin-bottom: 0px;
      color: coral;
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;
    }
    .t{
      font-size: 50px;
    }
    .t1 {
      font-family: "Courier New", Courier, monospace;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px;
    }
    .more {
      margin-top: 0px;
      margin-left: 40px;
    }
    
    
    .address {
      width: 1210px;
      margin: 5px;
      height: 490px;
      background-color:whitesmoke;
      color: silver;
      font-family: "Courier New", Courier, monospace;
      font-weight:bolder;
      font-size: 40px;
    }
    .ad {
      width: 1210px;
      padding-top: 10px;
      margin-left: 20px;
      color: rgb(67, 69, 70);
      line-height: 8px;
    }
    .ad1 {
      margin-top: 25px;
      line-height: 5px;
    }
    .con {
      margin-top: 20px;
      display: flex;
      align-items: center;
      color: black;
      text-decoration: none;
    }
    .c99 {
      margin-left: 5px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
  }  
